# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [28]:
data.head(50)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,высокий,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,средний,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,средний,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,высокий,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,средний,0,158616,сыграть свадьбу,C,проведение свадьбы
5,0,926.185831,27,высшее,0,гражданский брак,1,M,высокий,0,255763,покупка жилья,B,операции с недвижимостью
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,высокий,0,240525,операции с жильем,B,операции с недвижимостью
7,0,152.779569,50,среднее,1,женат / замужем,0,M,средний,0,135823,образование,C,получение образования
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,средний,0,95856,на проведение свадьбы,C,проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,средний,0,144425,покупка жилья для семьи,C,операции с недвижимостью
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,средний,0,113943,покупка недвижимости,C,операции с недвижимостью
11,0,792.701887,40,среднее,1,женат / замужем,0,F,низкий,0,77069,покупка коммерческой недвижимости,C,операции с недвижимостью
12,0,365286.622650,65,среднее,1,гражданский брак,1,M,средний,0,118514,сыграть свадьбу,C,проведение свадьбы
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,средний,0,130458,приобретение автомобиля,C,операции с автомобилем
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,выше среднего,1,165127,покупка жилой недвижимости,C,операции с недвижимостью
15,1,972.364419,26,среднее,1,женат / замужем,0,F,средний,0,116820,строительство собственной недвижимости,C,операции с недвижимостью
16,0,1719.934226,35,среднее,1,женат / замужем,0,F,высокий,0,289202,недвижимость,B,операции с недвижимостью
17,0,2369.999720,33,высшее,0,гражданский брак,1,M,низкий,0,90410,строительство недвижимости,C,операции с недвижимостью
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,низкий,0,56823,на покупку подержанного автомобиля,C,операции с автомобилем
19,0,10038.818549,48,среднее,1,в разводе,3,F,высокий,0,242831,на покупку своего автомобиля,B,операции с автомобилем
20,1,1311.604166,36,среднее,1,женат / замужем,0,M,выше среднего,0,209552,недвижимость,B,операции с недвижимостью
21,1,253.685166,33,среднее,1,гражданский брак,1,F,средний,0,131812,приобретение автомобиля,C,операции с автомобилем
22,1,1766.644138,24,среднее,1,гражданский брак,1,F,средний,0,149681,на покупку подержанного автомобиля,C,операции с автомобилем
23,0,272.981385,21,высшее,0,гражданский брак,1,M,средний,0,128265,сыграть свадьбу,C,проведение свадьбы
24,1,338551.952911,57,среднее,1,Не женат / не замужем,4,F,высокий,0,290547,операции с коммерческой недвижимостью,B,операции с недвижимостью
25,0,363548.489348,67,среднее,1,женат / замужем,0,M,низкий,0,55112,покупка недвижимости,C,операции с недвижимостью
26,0,2689.137274,41,среднее,1,женат / замужем,0,M,средний,0,150447,образование,C,получение образования
27,0,529.191635,28,высшее,0,женат / замужем,0,M,высокий,0,308848,строительство собственной недвижимости,B,операции с недвижимостью
28,1,717.274324,26,высшее,0,женат / замужем,0,F,выше среднего,0,187863,строительство собственной недвижимости,C,операции с недвижимостью
29,0,365286.622650,63,среднее,1,Не женат / не замужем,4,F,средний,0,118514,строительство жилой недвижимости,C,операции с недвижимостью
30,1,335581.668515,62,среднее,1,женат / замужем,0,F,выше среднего,0,171456,операции с коммерческой недвижимостью,C,операции с недвижимостью
31,0,1682.083438,47,начальное,3,женат / замужем,0,F,высокий,0,275485,жилье,B,операции с недвижимостью
32,0,4649.910832,34,среднее,1,гражданский брак,1,F,средний,1,139057,на проведение свадьбы,C,проведение свадьбы
33,0,1548.637544,48,среднее,1,женат / замужем,0,F,средний,0,157245,покупка жилья,C,операции с недвижимостью
34,0,4488.067031,35,среднее,1,женат / замужем,0,F,средний,0,104660,операции со своей недвижимостью,C,операции с недвижимостью
35,0,394021.072184,68,среднее,1,гражданский брак,1,M,низкий,0,77805,на проведение свадьбы,C,проведение свадьбы
36,0,176.216688,33,среднее,1,Не женат / не замужем,4,M,средний,0,138830,автомобили,C,операции с автомобилем
37,0,6448.810860,43,высшее,0,гражданский брак,1,F,средний,0,154128,приобретение автомобиля,C,операции с автомобилем
38,0,597.881827,25,высшее,0,Не женат / не замужем,4,M,выше среднего,1,192247,образование,C,получение образования
39,0,650.587796,31,высшее,0,гражданский брак,1,F,высокий,0,754240,заняться образованием,B,получение образования
40,0,1030.362606,30,среднее,1,Не женат / не замужем,4,M,средний,0,142865,покупка недвижимости,C,операции с недвижимостью
41,0,2689.137274,50,среднее,1,женат / замужем,0,F,средний,0,150447,сделка с подержанным автомобилем,C,операции с автомобилем
42,0,1257.496190,20,неоконченное высшее,2,Не женат / не замужем,4,F,низкий,0,82065,получение образования,C,получение образования
43,0,4375.681384,43,неоконченное высшее,2,в разводе,3,F,высокий,0,272957,приобретение автомобиля,B,операции с автомобилем
44,1,1362.041728,26,среднее,1,женат / замужем,0,F,средний,0,100780,на покупку своего автомобиля,C,операции с автомобилем
45,1,1039.451741,49,среднее,1,Не женат / не замужем,4,F,средний,0,106385,заняться образованием,C,получение образования
46,2,2262.712304,37,среднее,1,женат / замужем,0,F,выше среднего,0,182682,сделка с подержанным автомобилем,C,операции с автомобилем
47,1,2689.137274,33,высшее,0,гражданский брак,1,M,высокий,0,356277,на проведение свадьбы,B,проведение свадьбы
48,0,3341.067886,45,среднее,1,женат / замужем,0,F,выше среднего,0,162065,строительство собственной недвижимости,C,операции с недвижимостью
49,0,1181.443228,54,среднее,1,женат / замужем,0,F,низкий,0,44591,автомобиль,D,операции с автомобилем

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Для того, чтобы выявить соотношение задолженностей к общему количеству заемщиков, вывели сводную таблицу с количеством детей, общим количеством заемщиков и количеством должников.

In [22]:
children_pivot = data.pivot_table(index='children', values='debt', aggfunc = ['sum', 'count','mean'])
children_pivot

           sum  count      mean
          debt   debt      debt
children
0         1063  14091  0.075438
1          444   4808  0.092346
2          194   2052  0.094542
3           27    330  0.081818
4            4     41  0.097561
5            0      9  0.000000

**Вывод:**

Самое маленькое количество задолженностей у заемщиков без детей. Самое большое количество у людей с 1,2 и 4 детьми. Тяжело проследить точную зависимость, предполагаю, что важную роль здесь имеет еще и семейное положение, поэтому не получится однозначно утверждать, что количество детей и задолженности коррелируют.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
family_pivot = data.pivot_table(index='family_status', values='debt', aggfunc=['sum', 'count', 'mean'])
family_pivot

                       sum  count      mean
                      debt   debt      debt
family_status
Не женат / не замужем  273   2796  0.097639
в разводе               84   1189  0.070648
вдовец / вдова          63    951  0.066246
гражданский брак       385   4134  0.093130
женат / замужем        927  12261  0.075606

**Вывод:** 

У семей, не состоящих в официально зарегестрированных отношениях, количество задолженностей немного выше, чем у людей, которые состоят или состояли в браке.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
#шаг для распределения по категориям
income_max = data['total_income'].max()
income_min = data['total_income'].min()
income_median = data['total_income'].median()
step = (income_median-income_min)/2

In [25]:
#функция для распределения по 4 категориям
def income_category(income):
    if income<=91000:
        return 'низкий'
    if 91000<income<=160000:
        return 'средний'
    if 160000<income<=230000:
        return 'выше среднего'
    if 230000<income:
        return 'высокий'
data['income_type'] = data['total_income'].apply(income_category)

In [26]:
income_pivot = data.pivot_table(index='income_type', values='debt', aggfunc=['sum', 'count', 'mean'])
income_pivot

               sum count      mean
              debt  debt      debt
income_type
высокий        243  3497  0.069488
выше среднего  421  5176  0.081337
низкий         273  3433  0.079522
средний        795  9225  0.086179

**Вывод:** 

Самое низкое количество задолженностей у людей с высоким уровнем дохода. Самое высокое количество задолженностей у людей со средним уровнем дохода. В целом, можно связать это с определеным уровнем финансовой грамотности и планированием бюджета. Важный момент, что заемщики со средним уровнем достатка в целом намного чаще берут кредит, чем остальные категории.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [27]:
purpose_pivot = data.pivot_table(index='purpose_category', values='debt', aggfunc=['sum', 'count', 'mean'])
purpose_pivot

                          sum  count      mean
                         debt   debt      debt
purpose_category
операции с автомобилем    400   4279  0.093480
операции с недвижимостью  780  10751  0.072551
получение образования     369   3988  0.092528
проведение свадьбы        183   2313  0.079118

**Вывод:** 

***Большое количество задолженностей у людей, которе берут кредит на получение образования***(предположим, что кредит на обучение берут те, кто в принципе не могут себе позволить платить за него, из-за чего появляется еще одна гипотеза о том, что это люди со средним уровнем дохода)
***Самое маленькое количество задолженностей у тех, кто берет кредит на операции с недвижимостью***(можно предположить, что это связано с окупаемостью недвижимости(в эту категорию операций входят коммерческая недвижимость в том числе)

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Общими причинами могут быть технические причины(неправильная обработка исходных данных), человеческий фактор (опечатки, например).

В нашем случае, пропуски присутствуют в столбцах `days_employed` и `total_income`(при чем в одних и тех же строчках), в этих столбцах значения взаимосвязаны, поскольку отображают трудовой стаж и доход, однако корреляции например с типом занятости и пропусками выявить невозможно. Однако, при беглом взгляде на данные, можно заметить, что пропуски в данных столбцах соответствуют наличию только среднего образования, что возможно показывает отсутствие трудового стажа. Или наличие, но неофициального.
Относительно пропусков можно выдвинуть два предположения:

    - это случайные пропуски, которые появились вне зависимости от других значений в данных
    - это сокрытие определенных данных

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Конкретно в этом кейсе, мы заполняли медианными значениями доходы заемщиков. В данном случае, разница между минимальным и максимальным значениями колоссальна, из-за этого среднее значение не дает релевантные данные. Медиана как раз применяется в случае, если есть выдающиеся значения.

### Шаг 4: общий вывод.

Было проведено исследование о влиянии некоторых параметров на факт погашения кредита в срок. Исходным данными являлась статистика о платежеспособности клиента, предоставленная кредитным отделом банка.

Было выдвинуто 4 гипотезы:

    -наличие зависимости между количеством детей и возвратом кредита в срок:
    -зависимость между семейным положением и возвратом кредита в срок:
    -зависимости между уровнем дохода и возвратом кредита в срок:
    -зависимость между целями займа и возвратом кредита в срок.
    
   ***Первая гипотеза частично подтвердилась.*** У заемщиков без детей меньше всего задолженностей, а у заемщиков с 1,2 и 4 детьми самый большой процент задолженностей. В данном случае не возможно проследить точную зависимость. Скорее всего, на платежеспособности в данном случае влияют другие факторы больше, чем количество детей.

   ***Вторая гипотеза подтвердилась.*** Можно проследить определенную зависимость между семмейным положением и возвратом кредита в срок. Так, у людей не состоявших в браке или не закрепивших официально свое семейное положение задолженностей больше, чем у тех, кто состоит или когда-либо состоял в браке. Возможно, это может показывать уровень ответственности заемщика.

   ***Третья гипотеза частично подтверждена.*** Важно отметить, что в данном случае есть несколько вещей, на которых стоит обратить внимание при интерпретации. Во-первых, большое количество пропусков было в столбце `total_income`, отображающим доход, исходя из чего данные могли измениться. Во-вторых, количество заемщиков с низким доходом, например, и со средним доходом достаточно сильно отличается, исходя из чего можно предположить, что на данном этапе выборка не очень репрезентативна.
   Исходя из имеющихся данных можно сделать вывод, что меньше всего задолженностей у людей с высоким уровнем дахода, а самое большое количество у людей со средним уровнем дохода.
   В данном случае, можно предположить, что также как и в случае с первой гипотезой, большее влияние на результат оказывают другие параметры.
   
   ***Четвертая гипотеза подтверждена.*** Самое большое количество задолженностей у тех, кто берет кредит на получение образование, что может быть связано как раз с невозможностью его оплатить. Самое маленькое количество задолженностей у тех, кто берет кредит на операции с недвижимостью, что может быть связано с высокой окупаемостью и ликвидность.
   
   **Вывод**.
   Таким образом, из 4 гипотез полностью подтвердились только две. Несмотря на это, разница между наибольшим и наименьшим показателем во всех случаях минимальная, из-за чего нельзя сказать, что зависимость очень высокая.
   
   **Рекомендации**.
   Необходимо провести более подробное исследование, в которой для выявления корреляций будет использовано большее количество параметров.